body{
    background-color: yellow;
} 
.strona{
    text-align: center;
}   
select {
    font-size: 40px;
    padding: 2px 5px;
    
}
#wypiszFigura{
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}
.strona button{
    margin-top: 10px;
    font-size: 35px;
}
.strona p{
    font-size: 30px;
    font-weight: bold;
}
